---

- name: create chronos conf directory
  sudo: yes
  file:
    dest: "{{ chronos_conf_path }}"
    state: directory
  tags:
    - chronos

- name: systemd check
  stat: path=/usr/lib/systemd/system/
  register: systemd_check

- name: (systemd) configure chronos unit file - requires
  sudo: yes
  replace:
    dest: "{{ chronos_systemd_unit }}"
    regexp: "{{ item.regexp }}"
    replace: "{{ item.replace }}"
  with_items:
    - regexp: '^After=((?!mesos-master.service).*)$'
      replace: 'After=mesos-master.service \1'
    - regexp: '^Wants=((?!mesos-master.service).*)$'
      replace: 'Wants=mesos-master.service \1'
  when: systemd_check.stat.exists == true and chronos_systemd_require_mesos
  notify:
    - restart chronos
  tags:
    - chronos

- name: (systemd) configure chronos unit file - pre start
  sudo: yes
  lineinfile:
    dest: "{{ chronos_systemd_unit }}"
    line: "ExecStartPre={{ item }}"
    insertbefore: "^ExecStart="
    state: present
  with_items: chronos_systemd_unit_startpre
  when: systemd_check.stat.exists == true
  notify:
    - restart chronos
  tags:
    - chronos

# TODO: feels like a hack
- name: fix chronos bin file
  replace:
    dest: /usr/bin/chronos
    regexp: 'function load_options_and_log(.*\s(?!function))*'
    replace: "{{ chronos_bin_load_options_override }}\n"
  when: chronos_bin_load_options_override_enabled
  sudo: yes
  notify:
    - restart chronos
  tags:
    - chronos

- name: set key/value options
  copy:
    dest: "{{ chronos_conf_path }}/{{ item.key }}"
    content: "{{ item.value }}"
  with_dict: "{{ chronos_conf_options }}"
  when: item.value != ""
  sudo: yes
  notify:
    - restart chronos
  tags:
    - chronos

- name: set sysconfig variable
  lineinfile:
    dest: "{{ chronos_sysconfig_path }}"
    line: "{{ item.key }}={{ item.value }}"
    create: yes
  with_dict: "{{ chronos_sysconfig_vars }}"
  when: item.value != ""
  sudo: yes
  notify:
    - restart chronos

- name: enable chronos service
  sudo: yes
  service:
    enabled: yes
    name: chronos
  tags:
    - chronos

