MEM_OPTS=\"{{ chronos_runtime_memory_options }}\"
LIB_PATH={{ chronos_runtime_lib_path }}
CHRONOS_JAR={{ chronos_runtime_chronos_jar }}
ZK_HOSTS={{ chronos_runtime_zookeeper_hosts }}
MASTER={{ chronos_runtime_master }}
HTTP_PORT={{ chronos_http_port }}
HTTPS_PORT={{ chronos_https_port }}
